@model VarastoApi.Backend.Vaneri

<!-- Muokkaus formi -->
@using (Html.BeginForm("EditInfo","Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />


    
        <!-- Haetaan tiedot formiin -->
        <label for="Tid">Tuote Id: @Model.Id </label> <br />
        <input type="hidden" id="Tid" name="Tid" value="@Model.Id" />
        <hr />
        <label for="TKoko">Koko:</label>
        <input type="text" id="TKoko" name="TKoko" value="@Model.Koko">

        <select id="TYksikko" name="TYksikko">
            <option value="">@Model.Yksikko</option>
            <option value="">m</option>
            <option value="">mm</option>
        </select>
        <input type="text" id="THinta" name="THinta" value="@Model.Hinta" />
        <input type="text" id="TKauppa" name="TKauppa" value="@Model.Kauppa" />
        <input type="text" id="TLisatiedot" name="TLisatiedot" value="@Model.Lisatiedot" />
        <input type="text" id="TSijainti" name="TSijainti" value="@Model.Sijainti" />
        <input type="text" id="TMaara" name="TMaara" value="@Model.Maara" />

    




    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <!-- Submitattaan tiedot eteenpäin Edit info action resultiin HomeControlleriin -->
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
