
@model VarastoApi.Backend.MateriaaliKoonti
<!--Datatables scriptit-->
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
      //Javascript funktioita

        $(document).ready(function () { //Kun sivun lataus valmis suoritetaan seuraaavat

            $('table.display').DataTable({ //Käytetään datatablesia jossa seuraavat toiminnot select, ordering
                select: true,
                ordering: true,
                paging: false
            });
            $('#uusi').hide(); //Piilotetaan div jolla lisätään uusi materiaali heti kun sivu ladataan
            $("#show").click(function () { //Nabbia painamalla näytetään tai piilotetaan se
                $("#uusi").toggle();
            });
        });
        $('a.edit').on('click', function () { //Kun painetaan edit vaneri nappia
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: true,
                success: function (result) {
                    $('#myModal').html(result).find('.modal').modal({ //Niin avataan modaali jolla voi muokata materiaalia
                        show: true
                    });
                }
            });

            return false;
        });
        $('a.edit2').on('click', function () { //Kun painetaan edit maali nappia
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: true,
                success: function (result) {
                    $('#myModal2').html(result).find('.modal').modal({ //Niin avataan modaali jolla voi muokata materiaalia
                        show: true
                    });
                }
            });
            return false;
        });
        $('a.edit3').on('click', function () { //Kun painetaan edit maali nappia
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: true,
                success: function (result) {
                    $('#myModal3').html(result).find('.modal').modal({ //Niin avataan modaali jolla voi muokata materiaalia
                        show: true
                    });
                }
            });
            return false;
        });


    </script>
}
<!--Nämä sitten erilliseen tyylitiedostoon sitten-->
<style>

    /*Taulujen tyyli*/
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }

    table {
        border-spacing: 10px;
    }
    /*Lomakkeiden tyyli ja formatointi*/
    input {
        width: 240px;
    }

    .col-25 {
        float: left;
        width: 20%;
        margin-top: 5px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 5px;
    }
    /*Clear floats after the columns*/
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<h1>VarastoApi</h1>
<hr />
<h2>Varaston sisältö</h2>
<hr />
<h3>Vanerit</h3>
<!--Taulu varastossa oleville tavaroille-->
<div class="row">
    <div class="col-75">
        <table id="" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Koko</th>
                    <th>Hinta</th>
                    <th>Määrä</th>
                    <th>Lisätiedot</th>
                    <th>Muokkaa</th>
                </tr>
            </thead>
            <!--Täytetään taulu-->
            <tbody>
                @foreach (var item in @Model.Vanerit)
                {

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Koko</td>
                        <td>@item.Hinta</td>
                        <td>@item.Maara</td>
                        <td>@item.Lisatiedot</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn edit" })|

                            @Html.ActionLink("Tiedot", "Vaneri", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Haluatko poistaa tiedot?');" })
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<!--TESTIN ALKU-->
<!--(at)Html.Action("Vanerit")-->
<!--TESTIN LOPPU-->

<div id="myModal"></div>
<h3>Maalit</h3>
<!--Taulu varastossa oleville tavaroille-->
<div class="row">
    <div class="col-75">
        <table id="" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Koko</th>
                    <th>Hinta</th>
                    <th>Määrä</th>
                    <th>Lisätiedot</th>
                    <th>Muokkaa</th>
                </tr>
            </thead>
            <tbody>
                <!--Täytetään taulu-->
                @foreach (var item in @Model.Maalit)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Koko</td>
                        <td>@item.Hinta</td>
                        <td>@item.Maara</td>
                        <td>@item.Lisatiedot</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn edit2" })|
                            @Html.ActionLink("Tiedot", "Vaneri", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Haluatko poistaa tiedot?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="myModal2"></div>
<h3>Laudat</h3>
<div class="row">
    <div class="col-75">
        <table id="" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Koko</th>
                    <th>Hinta</th>
                    <th>Määrä</th>
                    <th>Lisätiedot</th>
                    <th>Muokkaa</th>
                </tr>
            </thead>
            <tbody>
                <!--Täytetään taulu-->
                @foreach (var item in @Model.Laudat)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Koko</td>
                        <td>@item.Hinta</td>
                        <td>@item.Maara</td>
                        <td>@item.Lisatiedot</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn edit3" })|
                            @Html.ActionLink("Tiedot", "Vaneri", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Haluatko poistaa tiedot?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    </div>
</div>
<div id="myModal3"></div>
<!--Uuden tavaran/materiaalin lisäys varastoon-->
<button id="show">Lisää uusi materiaali</button>

<div id="uusi">
    @using (Html.BeginForm("AddNew","Home",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <fieldset>
        <legend>Uusi tavara/materiaali</legend>
        <div class="row">
            <div class="col-25">
                <label for="tyyppi">Tyyppi :</label>
            </div>
            <div class="col-75">
                <select id="tyyppi" name="tyyppi" style="width:240px;">
                    <option value="1">Vaneri</option>
                    <option value="4">Maali</option>
                    <option value="2">Lauta</option>


                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="hinta">Hinta :</label><br>
            </div>
            <div class="col-75">
                <input type="text" id="hinta" name="hinta"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="maara">Määrä :</label><br>
            </div>
            <div class="col-75">
                <input type="text" id="maara" name="maara"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="koko">Koko :</label><br>
            </div>
            <div class="col-75">
                <input type="text" id="koko" name="koko"><br>
            </div>
        </div>
       
        <div class="row">
            <div class="col-25">
                <label for="yksikko">Yksikkö :</label>
            </div>
            <div class="col-75">
                <input type="text" id="yksikko" name="yksikko"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="sijainti">Sijainti :</label>
            </div>
            <div class="col-75">
                <select id="sijainti" name="sijainti" style="width:240px;">
                    <option value="1">Varasto 1</option>
                    <option value="2">Varasto 2</option>
                </select>
            </div>
        </div>
        <!--<div class="row"> Lissätään tämä toiminnallisuus myöhemmin
    <div class="col-75">
        <select id="snimi" name="huone" value="1" style="width:160px;">
            <option>Huone 1</option>
            <option>Huone 2</option>
            <option>Huone 3</option>
            <option>Huone 4</option>
            <option>Huone 5</option>
        </select>
        <select id="skaappi" style="width:160px;">
            <option>Kaappi 1</option>
            <option>Kaappi 2</option>
            <option>Kaappi 3</option>
            <option>Kaappi 4</option>
            <option>Kaappi 5</option>
        </select>
        <select id="shylly" style="width:160px;">
            <option>Hylly 1</option>
            <option>Hylly 2</option>
            <option>Hylly 3</option>
            <option>Hylly 4</option>
            <option>Hylly 5</option>
        </select>
    </div>
    </div>-->

        <div class="row">
            <div class="col-25">
                <label for="kauppa">Kauppa :</label>
            </div>
            <div class="col-75">
                <input type="text" id="kauppa" name="kauppa"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="komm">Lisätiedot :</label><br>
            </div>
            <div class="col-75">
                <textarea name="komm" id="komm" style="width:240px; height:120px"></textarea><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            </div>

        </div>
    </fieldset>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    }

</div>

