@model VarastoApi.Models.Kayttajat

@{
    ViewBag.Title = "Kayttajat";
}

<h2>Käyttäjät</h2>
<div class="row">
    <div class="col-75">
        <table id="" class="display">
            <thead>
                <tr>
                    <th>Käyttäjänimi</th>
                    <th>Valtuus</th>
                    <th>Muokkaa</th>
                </tr>
            </thead>
            <!--Täytetään taulu-->
            <tbody>
                @foreach (var item in @Model.Lista) {

                    <tr>
                        <td>@item.Kayttajanimi</td>
                        <td>@item.Valtuus</td>
                        <td>
                            @Html.ActionLink("Muokkaa", "EditU", new { id = item.Kayttajanimi }, new { @class = "btn edit" })|

                            @Html.ActionLink("Poista", "DeleteU", new { id = item.Kayttajanimi }, new { onclick = "return confirm('Haluatko poistaa käyttäjän?');" })
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@using (Html.BeginForm("Register", "Home", FormMethod.Post)) {
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Rekisteröi käyttäjä</legend>
            <div class="row">
                <div class="col-25">
                    <label for="kayttajanimi">Käyttäjänimi : </label>
                </div>
                <div class="col-75">
                    <input type="text" id="kayttajanimi" name="kayttajanimi"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Valtuus">Valtuustaso :</label>
                </div>
                <div class="col-75">
                    <select id="valtuus" name="valtuus" style="width:240px;">
                        <option value="1">Oppilas</option>
                        <option value="2">Opettaja</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="salasana">Salasana : </label>
                </div>
                <div class="col-75">
                    <input type="password" id="salasana" name="salasana"><br>
                </div>
            </div>
        </fieldset>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lisää" class="btn btn-default" />
            </div>
        </div>
    }
}