

@model VarastoApi.Backend.TilausKoonti
@{
    ViewBag.Title = "Tilaukset";
}
@section scripts{
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script>
        //Javascript funktioita

        $(document).ready(function () { //Kun sivun lataus valmis suoritetaan seuraaavat

            //Datatables funktiot lähde: https://datatables.net/ //
            $('table.display').DataTable({ //Käytetään datatablesia jossa seuraavat toiminnot select, ordering
                select: true,
                ordering: true,
                paging: false,
                responsive: true,
                dom: 'Bfrtip', //Datatables napit
                language: {
                    buttons: {
                        colvisRestore: "Palauta", //Muutetaan napin nimi koska muuten se olisi englanniksi
                        colvis: "Rivit"

                    }
                },
                buttons: [ //Määritellään mitän nappeja halutaan käyttää
                    {
                        extend: 'colvis', //Datatablesin omia nimityksiä napeille.
                        postfixButtons: ['colvisRestore']
                    }
                ],
                columnDefs: [ //Määritellään mitä rivejä piilotetaan
                    {
                        targets: 5, //Rivi numero
                        visible: false //Näkyvyys
                    },
                    {
                        targets: 6,
                        visible: false
                    }
                ]
            });


        });

        //Nappien ja modaalien funktiot //

        $('#tiedot').hide(); //Piilotetaan div jolla näkee tilauksen tiedot
        $("#show").click(function () { //Nabbia painamalla näytetään tai piilotetaan se
            $("#tiedot").toggle();
        });

        $('a.tilauksenTiedot').on('click', function () { //Kun painetaan tilauksen tiedot nappia
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: true,
                success: function (result) {
                    $('#tilausModal').html(result).find('.modal').modal({ //avataan modaali jossa näkyy uusi datatable jossa tilauksen tiedot näkyvät
                        show: true
                    });
                }
            });

            return false;
        });


    </script>
}
<!--Nämä sitten erilliseen tyylitiedostoon sitten-->
<style>

    /*Taulujen tyyli*/
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }

    table {
        border-spacing: 10px;
    }
    /*Lomakkeiden tyyli ja formatointi*/
    input {
        width: 240px;
    }

    .col-25 {
        float: left;
        width: 20%;
        margin-top: 5px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 5px;
    }
    /*Clear floats after the columns*/
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>


<h2>Tilaukset</h2>
<br />
<br />

<fieldset>
    <!--Tilausten tarkastelu (Ei toiminnallisuutta vielä)-->

    <div class="row">

        <div class="col-75">
            <table id="tilausTaulu" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tilaaja</th>
                        <th>Osoite</th>
                        <th>Toiminnot</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var tilattava in Model.Tilaukset)
                    {
                        <tr>
                            <td>@tilattava.Id</td>
                            <td>@tilattava.TilaajanNimi</td>
                            <td>@tilattava.TilaajanOsoite</td>
                            <td>
                                @Html.ActionLink("Tiedot", "tilauksenTiedot", new { id = tilattava.Id }, new { @class = "btn tilauksenTiedot" })
                                @Html.ActionLink("Poista", "poistaTilaus", new { id = tilattava.Id }, new { @class = "btn poistatilaus" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div id="tilausModal"></div>

    <br />

</fieldset>


    <fieldset>
        <!--Uuden tilauksen luonti (Ei toiminnallisuutta vielä)-->
        <legend>Uuden tilauksen luonti</legend>


        @using (Html.BeginForm("lisaaTilattava", "Home", FormMethod.Post))
        {
            
            <div class="row">
                <div class="col-25">
                    <label for="tilausID">Tilaus id:</label>
                </div>
                <div class="col-75">
                    <select id="tilausID" name="tilausID" style="width:240px">
                        @foreach (var id in Model.Tilaukset)
                        {
                            <option value="@id.Id">@id.Id</option>

                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="tyyppi">Tyyppi :</label>
                </div>
                <div class="col-75">
                    <select id="materiaaliID" name="materiaaliID" style="width:240px;">
                        <option value="1">Vaneri</option>
                        <option value="4">Maali</option>
                        <option value="2">Lauta</option>


                    </select>
                </div>
            </div>



            <div class="row">
                <div class="col-25">
                    <input type="submit" value="Lisää tilaukseen" class="btn btn-default" />
                </div>

            </div>
        }


        @using (Html.BeginForm("LisaaTilaus", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <fieltset>



                <div class="row">
                    <div class="col-25">
                        <label for="tilaajanNimi">Nimi:</label>

                    </div>
                    <div class="col-75">
                        <input type="text" id="tilaajanNimi" name="tilaajanNimi" />


                    </div>



                </div>
                <div class="row">
                    <div class="col-25">

                        <label for="tilaajanOsoite">Osoite:</label>
                    </div>
                    <div class="col-75">


                        <input type="text" id="tilaajanOsoite" name="tilaajanOsoite" />
                    </div>



                </div>

            </fieltset>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <input type="submit" value="Lisää tilaus" class="btn btn-default" />
            </div>
        }






    </fieldset>

    <thead>
